.todoList {
  padding: 10px;
  margin: 0;
  list-style: none;
}

.listItem {
  display: flex;
  align-items: center;

  .checkWrap {
    padding: 10px;
  }
  .content {
    font-size: 24px;
  }
  .removeBtn {
    color: pink;
    margin-left: auto;
    margin-right: 10px;
  }
}

.completed {
  // color: #ccc;
  // text-decoration: line-through;
}
